<div ng-controller="ReadingsController as readingsVm">

   <!-- <input type="text" ng-model="test" ng-change="testmethod()"/>{{test}} -->
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Vin</th>
            <th>fuelVolume</th>
            <th>speed</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="readings in readingsVm.readings">
            <td>{{readings.id}}</td>
            <td>{{readings.vin}}</td>
            <td>{{readings.fuelVolume}}</td>
            <td>{{readings.speed}}</td>
        </tr>
        </tbody>
    </table>

</div>